#!/bin/bash

trap "exit 130" SIGINT
trap "exit 137" SIGKILL
trap "exit 143" SIGTERM

set -o errexit
set -o nounset
set -o pipefail


setup_cowrie_conf () {
  local server=${1:-}
  local port=${2:-}
  local app=${3:-}
  local ssh_port=${4:-2222}
  local telnet_port=${5:-2223}

  pushd /opt/cowrie
  cp cowrie.cfg.dist cowrie.cfg

  sed -i "s/hostname = svr04/hostname = server/g" cowrie.cfg
  sed -i "s/listen_endpoints = tcp:2222:interface=0.0.0.0/listen_endpoints = tcp:${ssh_port}:interface=0.0.0.0/g" cowrie.cfg
  sed -i "s/listen_endpoints = tcp:2223:interface=0.0.0.0/listen_endpoints = tcp:${telnet_port}:interface=0.0.0.0/g" cowrie.cfg
  perl -p -000 -i -e  "s/# Enable Telnet support, disabled by default\s+enabled = false/# Enable Telnet support, disabled by default\nenabled = true/g" cowrie.cfg
  sed -i "s/version = SSH-2.0-OpenSSH_6.0p1 Debian-4+deb7u2/version = SSH-2.0-OpenSSH_6.7p1 Ubuntu-5ubuntu1.3/g" cowrie.cfg

  echo -e "\n\n[output_stingarfluentd]" >> cowrie.cfg
  echo "enabled=true" >> cowrie.cfg
  echo "host=${server}" >> cowrie.cfg
  echo "port=${port}" >> cowrie.cfg
  echo "app=${app}" >> cowrie.cfg
  popd

}


main () {
  source {{ sysconfig_dir }}/cowrie

  if [[ ${DEBUG} == "true" ]]
  then
    set -o xtrace
  fi

  local fluentd_host=${FLUENTD_HOST}
  local fluentd_port=${FLUENTD_PORT}
  local fluentd_app=${FLUENTD_APP}

  local ssh_port=${SSH_LISTEN_PORT:-2222}
  local telnet_port=${TELNET_LISTEN_PORT:-2223}

  local debug=${DEBUG:-false}

  setup_cowrie_conf ${fluentd_host} \
                    ${fluentd_port} \
                    ${fluentd_app} \
                    ${ssh_port} \
                    ${telnet_port} \
                    ${debug}

  exec su - cowrie -c "/opt/cowrie/bin/cowrie start"
}

main "$@"
